:host {
  width: 30%;

  @media screen and (max-width: 380px) {
    width: 100%;
  }

  @media screen and (min-width: 500px) and (max-width: 812px) {
    width: 40%;
  }
}

.product-cart-item {
  max-width: 100%;
  margin-bottom: 2rem;
}
