.herbalife-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__filter-navigation {
    width: 100%;
    height: fit-content;
  }

  &__products {
    padding: 2rem 2rem;
    box-sizing: border-box;
    height: calc(100% - 50px);
    overflow: auto;
    display: flex;
    gap: 5% 2rem;
    flex-wrap: wrap;

    /** This is the responsive code for mobile screen (x-small screen) **/
    @media screen and (max-width: 500px) {
      justify-content: inherit;
      flex-wrap: inherit;
      flex-direction: column;
      align-items: center;
    }
  }
}
